body {
  font-family: Arial;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme {
  position: absolute;
  right: 20px;
  top: 20px;
}

#theme {
  /* position: relative; */
  display: inline-block;
  width: 60px;
  height: 34px;
}

#theme input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.container, .screen, .numpad, button {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 555px;
  width: 430px;
  padding: 5px;
  box-shadow: 0 0 15px 0 rgb(145, 145, 145);
}

.container div.screen {
  display: flex;
  height: 150px;
  width: 400px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 60px;
}

.container .numpad {
  height: 400px;
  gap: 2px;
}

button {
  font-size: 20px;
  border: rgb(236, 236, 236) solid 1px;
  background-color: white;
}

.numpad button:hover {
  background-color: rgb(221, 220, 220);
}

.numpad button:active {
  background-color: rgb(180, 180, 180);
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  direction: rtl;
}

.dark-mode .container {
  background-color: rgb(43, 43, 43);
  color: white;
  box-shadow: 0 0 15px 0 rgb(20, 20, 20);
}

.dark-mode button {
  background-color: rgb(43, 43, 43);
  color: white;
  border: rgb(40, 40, 40) solid 1px;
}

.dark-mode {
  background-color: rgb(44, 44, 44);
}

.dark-mode button:hover {
  background-color: rgb(68, 68, 68);
}

.dark-mode button:active {
  background-color: rgb(85, 85, 85);
}