body {
  font-family: Arial;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container, .screen, .numpad, button {
  /* border: black solid 1px; */
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 555px;
  width: 430px;
  /* background-color: rgb(35, 35, 37); */
  padding: 5px;
  box-shadow: 0 0 15px 0 rgb(145, 145, 145);
}

.container .screen {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 400px;
  font-size: 60px;
  padding-top: 20px;
  align-items: flex-end;
}

.container .numpad {
  height: 400px;
  gap: 2px;
}

.numpad button {
  font-size: 20px;
  border: rgb(236, 236, 236) solid 1px;
  background-color: white;
}

.numpad button:hover {
  background-color: rgb(221, 220, 220);
}

.numpad button:active {
  background-color: rgb(180, 180, 180);
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  direction: rtl;
}