body {
  font-family: Arial;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container, .screen, .numpad {
  border: black solid 1px;
  box-sizing: border-box;
}

.container {
  height: 550px;
  width: 430px;
}

.container .screen {
  height: 150px;
}

.container .numpad {
  height: 400px;
}

.numpad button {
  font-size: 20px;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  direction: rtl;
}